@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 11, 5, 24;
  --background-end-rgb: 11, 5, 24;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Custom Scrollbar para manter consistência com o design original */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0B0518;
}
::-webkit-scrollbar-thumb {
  background: #3b0764;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #581c87;
}